
{% extends "layout.html" %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}


{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DAS / eTrade / echoUI prototypes
        <span class="govuk-caption-xl">From August 2021</span>
      </h1>

      <h2 class="govuk-heading-m">NI DAS (eTrade) prototype variations</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v01/notes">Notes and questions</a>
        </li>
        <li>
          <a href="/v01/start">Static version v01</a>
        </li>
        <li>
          <a href="/v01/manage-commodities/">"Manage commodities" UX variation</a>
        </li>
        <li>
          <a href="https://dev-uk.trade.azure.defra.cloud/">Dev</a> | <a href="https://tst-uk.trade.azure.defra.cloud/">Test</a>

<h4>Dev environment</h4>
https://dev-uk.trade.azure.defra.cloud/

<h4>Test environment</h4>
https://tst-uk.trade.azure.defra.cloud/

<h4>Users:</h4>
78 24 41 02 11 52 - (Declan Certifier)<br>
14 83 53 48 66 02 - (Declan Exporter)<br>
Catch cert: GBR-2021-CC-141619FC3<br>

26 22 77 05 77 98 - (etradeba1)<br>
23 14 82 66 09 59 - (etradeba2)<br>
52 09 50 54 60 64 - (etradeba3)<br>
22 01 81 25 64 88 - (etradeba4)<br>

<h4>Password:</h4>
Exports123

        </li>
      </ul>



      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

